extends layout.pug
block content
    header#mapa-header
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top
            .container
                a.navbar-brand.col-4(href='#page-top') MAPA COLABORATIVO CIDADÃO
                #logo.navbar-brand.col-4
                    img(src="images/logo_tce.png")
                    span Tribunal de Contas do <br/> Estado da Paraíba    
    script(type='text/javascript', src='javascripts/abavideo.js')
block modal
    #visualizar-video.modal(tabindex='-1', role='dialog')
