extends layout.pug
block header
    header#mapa-header
        include header
block content
    main#auth
        .container
            .row
                #login.col-4
                    include login
                #register.col-8
                    include register