extends layout.pug
block content
    main.container
        .row
            .col-md-4#login
                include login.pug
            .col-md-8#register
                include register.pug
    footer