.modal-dialog.modal-lg(role='document')
    .modal-content
        .modal-body
                i.far.fa-check-circle
                p="Bem vindo(a), " + user.nome
        script.
            $('#boas-vindas').modal('show');
            setTimeout(function(){
                $('#boas-vindas').modal('hide');
            }, 1000);
