extends layout.pug
block header
    header#como-participar-navbar
        include header
block content
    main#como-participar
        .container
            .row
                #como-participar-header.col-12
                    div
                        i.far.fa-list-alt
                        span.title Como participar 
                            br 
                            br 
                        span.subtitle Passos para realizar cadastro no sistema e ter acesso 
                            br 
                            | ao envio de vídeos da sua escola
            .row
                #acesso-professor.col-6
                    .passo-a-passo
                        .passo
                            span.number 1
                            i.fas.fa-caret-down
                            p.descricao
                                span Envie um email para o 
                                    b Espaço Cidadania Digital no TCE 
                                    | com os dados para a realização do cadastro.
                                span 
                                    b Dados:
                                span Nome completo - Cidade - CPF - Email - SIAP - Telefone - Escola para cadastrar (nome e endereço)
                                span 
                                    b E-mail: 
                                    | espacocidadaniadigital@tce.gov.br
                        .passo    
                            span.number 2
                            i.fas.fa-caret-down
                            p.descricao Aguarde a resposta por email com os dados do login para acessar o painel de gerenciamento.
                        .passo    
                            span.number 3
                            i.fas.fa-caret-down
                            p.descricao Faça o login no 
                                a(href="/auth") acesso do professor 
                                | usando os dados enviados pelo TCE para seu email.
                        .passo    
                            span.number 4
                            i.fas.fa-caret-down
                            p.descricao Para cadastrar um novo vídeo, preencha o campo "inserir link do vídeo". Aguarde a exibição das informações do vídeo.
                        .passo    
                            span.number 5
                            i.fas.fa-caret-down
                            p.descricao Preencha os campos cidade e escola. Se a escola ainda não estiver cadastrada no sistema, clique em cadastrar nova escola e preencha o formulário. Com o formulário preenchido, clique em "Adicionar" e aguarde o vídeo ser exibido na sua tela de gerenciamento.
                        .passo    
                            span.number 6
                            i.fas.fa-caret-down
                            p.descricao Para excluir um vídeo basta clicar na lixeira 
                                i.fas.fa-trash 
                                | posicionada na parte superior direita de cada vídeo.
                        .passo    
                            span.number 7
                            p.descricao Acima da listagem de vídeos, é possível buscar por escola, cidade ou palavras-chave e encontrar seu vídeo rapidamente. 
                #acesso-aluno.col-6
                    .passo-a-passo
                        .passo    
                            span.number 1
                            i.fas.fa-caret-down
                            p.descricao Grave seu vídeo na posição horizontal com duração de até 1 minuto.
                        .passo    
                            span.number 2
                            i.fas.fa-caret-down
                            p.descricao Fale sobre problemas no ambiente escolar que incomodam a boa vivência e proponha uma solução. Ao final do vídeo fale a hashtag 
                                b "Eu faço controle social"
                                | .
                        .passo    
                            span.number 3
                            i.fas.fa-caret-down
                            p.descricao Publique seu vídeo no Facebook ou Youtube com a seguinte descrição: tema - nome completo dos participantes - idade - escola - cidade - #eufacocontrolesocial. 
                        .passo    
                            span.number 4
                            p.descricao Comunique ao professor para que ele avalie seu vídeo e o publique no site.
                        
