extends layout.pug
block content
    main#dashboard.d-flex.flex-column.align-content-stretch
        header
            nav#header.navbar.navbar-inverse
                .container
                        a.navbar-brand Painel de Gerenciamento    
                        #user.col-6
                                .row
                                    .col
                                        .row
                                            .container.text-right
                                                span.text-right=user.nome
                                        .row
                                            .container.text-right
                                                a(href="auth/logout") Sair
                                    .col#fb-photo
                                        img(src=user.foto)                   
        div#send-list
            .row.d-flex.flex-row.justify-content-around
                #send.col-md-4.d-flex.flex-column.align-content-stretch
                    block send
                    include send
                .col-md-7#list
                    block list
                    include list
    script(src='/javascripts/dashboard.js')