extends layout.pug
block content
    #dashboard.d-flex.flex-column.align-content-stretch
        header#mapa-header
            include header
        main#send-list.d-flex.flex-column.align-content-stretch   
                .row.d-flex.flex-row.justify-content-around
                    #send.col-md-4.d-flex.flex-column.align-content-stretch
                        block send
                        include send
                    .col-md-7#list
                        block list
                        include list
    script(src='/javascripts/dashboard.js')

block modal
    #visualizar-video.modal.fade(tabindex='-1', role='dialog')
    #cadastrar-escola.modal.fade(tabindex='-1', role='dialog')
        include cadastrar-escola
    if afterLogin
        #boas-vindas.modal.fade(tabindex='-1', role='dialog')
            include bem-vindo
    if mensagemBanco
        #mensagem-banco.modal.fade(tabindex='-1', role='dialog')
            include mensagem-banco