extends layout.pug
block content
    main#dashboard.d-flex.flex-column.align-content-stretch
        header
            nav#header.navbar.navbar-inverse
                .container
                        a.navbar-brand Painel de Gerenciamento    
                        #user.col-6
                                .row
                                    .container.text-right
                                        span.text-right=user.nome
                                .row
                                    .container.text-right
                                        a Editar 
                                        span="|"
                                        a Sair
                            .col#fb-photo
                                img(src=user.foto)  
                        
    main.container.container-height
        .row
            .col-md-4#send
                block send
                include send
            .col-md-8#list
                block list
                include list
    script(src='/javascripts/dashboard.js')