nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top
    .container
        #logo.navbar-brand.col-12.col-md-6
            a.navbar-brand(href="/" + (museu?"museu":"")) MAPA COLABORATIVO CIDADÃO
            img(src="/images/logo_tce.png")
            span Tribunal de Contas do <br/> Estado da Paraíba
        button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', aria-label='Toggle navigation')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
        #navbar.col-md-6.col-12.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link Como participar
                    if !museu && !dashboard
                        li.nav-item
                            a.nav-link(href="/auth") Acesso do professor
                    if dashboard                  
                        li#nome-professor.nav-item
                            p=user.nome 
                            a.nav-link(href="auth/logout") SAIR                           