extends layout.pug
block header
    header#mapa-header
        include header
block content
    section(id ="mapa-wrapper"+(museu?"-museu":""))
        #galeria-mapa
        .container
            .row
                #curiosidades.col-md-2.col-xl-4
                    include curiosidades
                .col-md-10.col-xl-8
                    if !museu
                        .navbar#mapa-nav.row
                            .col-4
                                select#select-cidade(name='codigo' placeholder="Digite o município").form-control.form-control-sm
                            #zoom.col-1
                                div 
                                    #zoom-in(onclick="zoomIn()") +
                                    #zoom-out(onclick="zoomOut()") -
                    include mapa.pug
                    #mesorregiao
                        img#mesorregiao-svg
                        span#mesorregiao-nome=""
                    script(type='text/javascript', src='javascripts/mapa.js')
block modal
    #visualizar-video.modal.fade(tabindex='-1', role='dialog')
    
        
