extends layout.pug
block content
    header#mapa-header
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top
            .container
                a.navbar-brand.col-4(href='#page-top') MAPA COLABORATIVO CIDADÃO
                #logo.navbar-brand.col-4
                    img(src="images/logo_tce.png")
                    span Tribunal de Contas do <br/> Estado da Paraíba
                button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', aria-label='Toggle navigation')
                    span.sr-only Toggle navigation
                    span.navbar-toggler-icon
                #navbar.col-4.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link Como participar
                        li.nav-item
                            if user
                                a.nav-link(href="/dashboard") 
                                    span Gerenciador
                            else
                                a.nav-link(href='/auth') Login
                        li.nav-item
                            a.nav-link Sobre
    section#mapa-wrapper
      .container
        .navbar#mapa-nav.row
            input#select-cidade(type='text' name='codigo' placeholder="Pesquisar municípios").col-4.form-control.form-control-sm
            #zoom.col-1
                div 
                    #zoom-in(onclick="zoomIn()") +
                    #zoom-out(onclick="zoomOut()") -
        include mapa.pug
        #info-1.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p Mais de <b>700 mil</b> alunos matriculados
        #info-2.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p Mais de <b>1 milhão</b> de carros
        #info-3.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p O TCE PB foi fundado em <b>1970</b>
        #info-4.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p População do estado <b>3.766,528</b>
        #info-5.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p Onde o sol nasce <b>primeiro</b>
        #info-6.mapa-info
            i.mapa-info-btn.fas.fa-comment
            .mapa-info-text
                p Cerca de <b>56.468,435 km²</b> 
        #galeria-mapa
    script(type='text/javascript', src='javascripts/mapa.js')
block modal
    #visualizar-video.modal(tabindex='-1', role='dialog')
