h4.title=list.title
div#list-menu.row.nav-tabs
#myTabContent.tab-content
    #user-videos.tab-pane.fade.show.active
        div.list-videosfacebook.row
            if videos
                each video in videos
                    .col-3.m-2.p-0
                        .video
                            iframe(type='text/html' style="border-radius: 10px" width='100%' height='100%' src=video.url controls='' frameborder='0')
                            form(method='POST' action='/delete/videos')
                                input(type='submit',class='btn btn-outline-secondary btn-sm justify-content-center',value='Deletar ',data-transition='fade', data-theme='c')
                                input.d-none(name="id", value=video.id) 
                                
