p=list.title
div#list-menu
    p.btn-videos="Meus vídeos"
    p.btn-trash="Lixeira"
    select#(name="turmas")
        option="Turmas"
    input(type="text")(name="pesquisar")
input.search(type="text")(placeholder="Pesquisar")
div.list-videos
    div.fb-video
        div.link
        div.delete
        div.play
        div.edit
        