h4.title=list.title
div#list-menu.row.nav-tabs
#myTabContent.tab-content
    #user-videos.tab-pane.fade.show.active
        div.list-videos.row
            each video in videos
                .col-3
                    .video
                        i.fas.fa-link
                        i.fas.fa-trash
                        i.fas.fa-play
                        i.fas.fa-pen
