p.title=list.title
div#list-menu.row
    button(type="button").btn.btn-outline-secondary.btn-sm="Meus vídeos"
    button(type="button").btn.btn-outline-secondary.btn-sm="Lixeira"
    select.form-control.form-control-sm.col-3(name="turmas")
        option="Turmas"
    input.form-control.form-control-sm.col-4.search(type="text")(placeholder="Pesquisar")
div.list-videos#fb-user-videos.row
    each video in videos
        .col-3
            .video
                i.fas.fa-link
                i.fas.fa-trash
                i.fas.fa-play
                i.fas.fa-pen
        