p.title="Login"

form(action="auth/login" method="POST")
    
    input#fb-login-user(type="hidden" name="fb-login-user")
    input#fb-name(type="hidden" name="fb-name")
    input#fb-photo(type="hidden" name="fb-photo")
    input.form-control(type="text" name="email" placeholder="E-mail")
    input.form-control(type="password" name="senha" placeholder="Senha")
    
    button.form-control
        b="Entrar"
    
    p.text-center
        a(href="esqueci-senha")#esqueci-senha="Esqueci minha senha"