p.title="Login"

form(action="")
    input(type="text")(name="email")(placeholder="E-mail")
    input(type="text")(name="senha")(placeholder="Senha")

    button="Entrar"
    a#esqueci-senha="Esqueci minha senha"

a#back="< Voltar"