.container
    span.title Painel de Gerencimanento
    span.subtitle Acesso restrito para professores previamente cadastrados a partir dos passos descritos ao lado
        
    form(action="/auth/login" method="POST")
                
        span.subtitle Login

        div(class="form-group")
            input(class="form-control" + (error.email || error.form ? " is-invalid" : "") type="text" name="email" placeholder="E-mail")
            .invalid-feedback=error.email || error.form

        div(class="form-group")
            input(class="form-control" + (error.senha || error.form ? " is-invalid" : "") type="password" name="senha" placeholder="Senha")
            .invalid-feedback=error.senha || error.form
        
        button.form-control
            b="Entrar"