.modal-dialog.modal-lg(role='document').d-flex
    .modal-content
        .modal-body
                - var classe = mensagemBanco.success ? "check-circle text-success" :  "times-circle text-danger"
                i(class="fas fa-" + classe)
                p=mensagemBanco.msg
        script.
            $('#mensagem-banco').modal('show');
            setTimeout(function(){
                $('#mensagem-banco').modal('hide');
            }, 1000);
