.modal-dialog.modal-lg(role='document').d-flex
    .modal-content
        .modal-body
                i.far.fa-check-circle.text-success
                p=mensagemBanco
        script.
            $('#mensagem-banco').modal('show');
            setTimeout(function(){
                $('#mensagem-banco').modal('hide');
            }, 1000);
