#modal-videos.modal(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5.modal-title Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          form#video-upload
            .modal-body
              select#select-cidades(name='cidades')
              input(type='text', name='escola', placeholder='nome da escola')
              label  Selecione um vídeo do seu facebook 
              #fb-user-videos
            .modal-footer
              button.btn.btn-primary(type='submit') Salvar
              button.btn.btn-secondary.close-modal(type='button', data-dismiss='modal') Cancelar