extends layout.pug
block content
    style.
        footer { display: none; }
    .container#logo-gif
        img(src="/images/logo.gif")
block modal
    #yt-player
    #fb-player
        #fb-player-video.fb-video(
            data-href='https://www.facebook.com/FacebookMarketingkonzepte/videos/195508118052196/', 
            data-show-text='false',
            data-allowfullscreen="true",
            data-autoplay="true",
        )
    //- iframe#fb-player(
    //-     type='text/html', 
    //-     width='100%'
    //-     height='100%',
    //-     allow='autoplay',
    //-     frameborder='0' 
    //- )
    script(src='/javascripts/mapa-museu-interativo.js')
    script(src='/javascripts/yt.js')
