extends layout.pug
block content
    style.
        footer { display: none; }
    .container#logo-gif
        img(src="/images/logo.gif")
    iframe( id="iframe-play-video" type='text/html' width='100%' height='100%' allow='autoplay' frameborder='0' )
    script(src='/javascripts/mapa-museu-interativo.js')
    script(src='/javascripts/yt.js')
