extends layout.pug
block content
    style.
        footer { display: none; }
    .container#logo-gif
        img(src="/images/logo.gif")
block modal
    #yt-player
    #fb-player
    script(src='/javascripts/mapa-museu-interativo.js')
    script(src='/javascripts/yt.js')
