extends layout.pug
block content
    header#mapa-header
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top
            .container
                a.navbar-brand.col-4(href='#page-top') MAPA COLABORATIVO CIDADÃO
                #logo.navbar-brand.col-4
                    img(src="images/logo_tce.png")
                    span Tribunal de Contas do <br/> Estado da Paraíba
block modal
    #modal-play-video.modal(tabindex='-1', role='dialog')
        .modal-dialog2
            iframe( id="iframe-play-video" type='text/html' width='1250' height='690' controls='' frameborder='0')
    script(src='/javascripts/mapa-museu-interativo.js')
