extends layout.pug
block content
block modal
    #modal-play-video.modal(tabindex='-1', role='dialog')
        .modal-dialog2
            iframe( id="iframe-play-video" type='text/html' width='1250' height='709' controls='' frameborder='0')
    script(src='/javascripts/mapa-museu-interativo.js')
