h4="Enviar vídeos"
.form-group#yt
  .input-group.mb-3.input-group-sm
    input#yt-link.form-control.form-control-sm.send-link(type="text" placeholder="Inserir link do vídeo")
    .input-group-append
      span.input-group-text 
        i#yt-btn.fas.fa-plus
    #yt-preview.col-12
        .row
            .col-4
                img#yt-thumb
            .col-8
                form(method='POST' action='/videos')
                    input#yt-name.form-control.form-control-sm(type="text" name="nome-aluno")
                    input#yt-title.form-control.form-control-sm(type="text" name="titulo")
                    input#yt-desc.form-control.form-control-sm(type="text" name="descricao")
                    input#yt-url(type="hidden", name='url') 
                    select(type='text' name='codigo')#cidade.form-control.form-control.sm
                        if cidades
                            each cidade in cidades 
                                option(value=cidade.codigo) #{cidade.nome}
                    button#yt-add.form-control.form-control-sm Adicionar
                    button#yt-cancel.form-control.form-control-sm Cancelar
    div.row
        .col-12.mb-2
p="Ou pelo facebook"
div#fb-user-videos.row
