h4="Enviar vídeos"
.form-group#yt
  .input-group.mb-3.input-group-sm
    input#yt-link.form-control.form-control-sm.send-link(type="text" placeholder="Inserir link do vídeo")
    .input-group-append
      span.input-group-text 
        i#yt-btn.fas.fa-plus
    #yt-preview.col-12
        .row
            .col-4
                img#yt-thumb
            .col-8
                form(method='POST' action='/videos')
                    input#yt-name.form-control.form-control-sm(type="text" name="autor" placeholder="Autor")
                    input#yt-title.form-control.form-control-sm(type="text" name="titulo" placeholder="Título")
                    input#yt-desc.form-control.form-control-sm(type="text" name="descricao" placeholder="Descrição")
                    input#select-cidade(type='text' name='cidade' placeholder="Selecionar cidade").form-control.form-control-sm
                    input#select-escola(type='text' name='escola' placeholder="Selecionar escola" readonly).form-control.form-control-sm
                    input#escola-id(type='hidden' name='escola_id')
                    input#cidade-id(type='hidden' name='cidade_id')
                    select(type='text' name='categoria_id')#categoria.form-control.form-control.sm
                        option="Categoria"
                        if categorias
                            each categoria in categorias 
                                option(value=categoria.id) #{categoria.descricao}
                    input#yt-url(type="hidden", name='url')
                    input#yt-img(type="hidden", name='thumb')
                    button#yt-add.form-control.form-control-sm Adicionar
                    button#yt-cancel.form-control.form-control-sm Cancelar
    div.row
        .col-12.mb-2

