h4="Enviar vídeos"
input.form-control.form-control-sm.send-link(type="text")(placeholder="Inserir link do vídeo")
p="Ou pelo facebook"
div.fb-videos
    div.fb-video
        div.fb
        div.add
        div.play
        div.edit
        