
path {
	fill: #ccc;
	stroke: #354a5b;
	stroke-width: 15em;
}

path:hover {
    fill: #932121;
    opacity: 0.9;
    stroke: black;
    stroke-width: 25em;
}

#nome-mapa {

	float: left;
	color: #fff;

}

#galery{
    width: 30%;
    height: 100%;
    background: #26292b;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 1s;
}

#galery.show{
    left:0;
}

#galery > div{
    height: 100%;
    padding: 20px;
}

#galery #nome-municipio{
    color: #fff;
    margin-bottom: 2rem;
}

#galery #close-cidade{
    color: #fff;
    text-align: right;
}

#galery p.section{
    color: #1fd2e5;
    border-bottom: 1px solid #1fd2e5;
    font-size: .8em;
    padding-bottom: .5em;
}

#galery #videos{
    padding: 0 10px 0 0;
    flex: 1;
    overflow-y:scroll;
}

li.nav-item {
    line-height: 2rem;
}

.fb_iframe_widget{
    padding:2px
}

.fb-login img {
    margin-left: 10px;
    border-radius: 100%;
}
#modal-videos form .modal-body > *{
    clear:both;
    display: block;
    margin: 10px;
}

#modal-videos form .modal-body > select,
#modal-videos form .modal-body > input {
    width: 300px;
    padding: 5px;
}

#fb-user-videos {
    height: auto;
    flex: 1;
    overflow-y: scroll;
}

#fb-user-videos .wrapper{
    float:left;
    margin: 10px 0;
}

#fb-user-videos .wrapper input{
    position: relative;
    top: 68px;
    float: left;
    margin: 0 10px;
}

#fb-user-videos .wrapper iframe{
    float:left;
}
