body{
    background-image: url("/images/bg.png");
    background-size: 20%;
}

#mapa-wrapper, #login, #send-list, #galeria, #not-found{
    background-color: rgb(53, 74, 91, 0.7);
}

#not-found{
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    text-align: center;
}

#not-found h1{
    padding: 40px;
}

#mapa-header, #mapa-header-museu {
    background: #0e0f11;
    color: #fff;
    display: flex;
}
#mapa-header-museu{
    background: rgba(14, 15, 17, 0.7);
}

#mapa-header .col-4:nth-child(2),
#mapa-header-menu .col-4:nth-child(2){
    text-align: center;
}

#mapa-header a,
#mapa-header-menu a{
    color: #fff;
}

#logo img{
    height: 2em;
    position: relative;
    top: -.25em;
}

#logo span{
    font-size: 10pt;
    display: inline-block;
    text-align: left;
    margin: 5pt 0 0 5pt;
}


path {
	fill: #ccc;
	stroke: #354a5b;
	stroke-width: 15em;
}

#mapa-wrapper path:hover, path.selected {
    fill: #932121;
    opacity: 0.9;
    stroke: black;
    stroke-width: 25em;
}

#nome-mapa {
	float: left;
	color: #fff;
}

#mapa-wrapper{
    overflow: hidden;
    flex: 1;
}

#mapa-wrapper > .container{
    height: 100%;
}

#mapa{
    transition: transform .5s;
}

#mapa-nav{
    justify-content: flex-end;
    margin-bottom: -90px;
}

#mapa-nav #select-cidade{
    padding: 20px 10px;
    color: #fff;
    background: rgba(45, 59, 71, 0.9);
    border-radius: 0;
    border-color: #2e3c49;
    max-width: 175pt;
    position: relative;
    z-index: 98;
}

#zoom{
    top: 1.5em;
    position: relative;
    z-index: 99;
}
#zoom > div{
    background-color: #73818e;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
}

#zoom-in, #zoom-out{  
    padding: .5em .6em;
    background-color: #73818e;
    border-radius: 100%;    
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}    

#zoom-in{
    margin-top: -.9em;
}

#zoom-out{
    margin-bottom: -.9em;
}

.mapa-info {
    position: relative;
    height: 24px;
    width: 45px;
}

#info-1{top: -325px;left: 0px;}
#info-2{top: -146px;left: 170px;}
#info-3{top: -304px;left: 385px;}
#info-4{top: -200px;left: 660px;}
#info-5{top: -240px;left: 825px;}
#info-6{top: -345px;left: 955px;}

.mapa-info-btn {
    padding: 10px;
    border-radius: 100%;
    background: #fff;
    border: 0px solid rgba(53, 74, 91, 1);
    box-shadow: 0px 0px 0px 1px;
    color: #fff;
    animation: mapa-info-btn 2s infinite;
    position: relative;
}

@-webkit-keyframes mapa-info-btn {
    0% {border-width: 0; top: 5px; left: 5px;}
    100% { border-width: 5px; top: 0; left:0;}
}

@keyframes  mapa-info-btn  {
    0% {border-width: 0; top: 5px; left: 5px;}
    100% { border-width: 5px; top: 0; left:0;}
}

.mapa-info-btn:before{
    color: #611313;
}

.mapa-info-text.show {
    opacity: 1;
    visibility: visible;
}

.mapa-info-text{
    max-width: 143px;
    padding: 35px 44px 15px 35px;
    background-image: url("../images/info-mapa.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position: center;
    transform: rotate(200deg) scaleX(-1);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: absolute;
    top: 50px;
}

@-webkit-keyframes mapa-info-text {
    0%   { top: -5px; }
    50%  { top:  5px; }
    100% { top: -5px; }
}

@keyframes  mapa-info-text  {
    0%   { top: -5px; }
    50%  { top:  5px; }
    100% { top: -5px; }
}

.mapa-info-text p{
    color: #fff;
    transform: rotate(200deg) scaleX(-1);
}

#galeria-mapa{
    width: 30%;
    height: 100%;
    background: #3f3f3f;
    box-shadow: 3px 0px 18px 0px;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 1s;
    z-index: 100;
}

#galeria-mapa.show{
    left:0;
}

#galeria-mapa > div{
    height: 100%;
    padding: 20px;
}

#galeria-mapa #nome-municipio{
    color: #fff;
    margin-bottom: 2rem;
}

#galeria-mapa #close-cidade{
    font-size: 18pt;
    color: #fff;
    text-align: right;
}

#galeria-mapa p.section{
    color: #1fd2e5;
    border-bottom: 1px solid #1fd2e5;
    font-size: 1.3em;
    padding-bottom: .5em;
}

#galeria-mapa #videos{
    padding: 0 10px 0 0;
    flex: 1;
    overflow-y:scroll;
    padding-top: 1px;
}

#galeria-mapa .video .row{
    height: 100%;
    margin: 0;
}

#galeria-mapa .video{
    height: 100px;
    margin-bottom: 10px;
    border-radius: 0;
}

#galeria-mapa .video .preview{
    position: relative;
    height: 100%;
    overflow: hidden;
}

#galeria-mapa .video .info{
    border-right: 10px solid #3f3f3f;
    border-bottom: 10px solid #3f3f3f;
}

#galeria{
    padding: 0 0 10px 0;
    flex:1;
    overflow: hidden;
}

#galeria #categoria{
    width: 78%;
    margin: 20px auto 0 auto;
    padding: 15px 100px;   
    flex: 1;
    overflow: hidden;
}

#galeria #categoria .carousel-inner {
    height: 100%;
}

#galeria #categoria .carousel-inner > .row{
    width: 100%;
}

#galeria #categoria .carousel-item{
    height: 100%;
    overflow-y: auto;
}

#galeria #categoria .carousel-item > .row {
    padding: 5px;
    margin: 0;
}

#galeria #categoria .video:not(.destaque) .info{
    height: 100px;
    font-size: 11pt;
}

#galeria #categoria .carousel-item .row > .video:nth-child(3n){
    padding: 5px 10px;
}

#galeria .destaque.video .preview{
    background-size: cover;
}

#galeria .destaque.video .preview,
#galeria .destaque.video .info{
    height: 200px;
    overflow: hidden;
}

.carousel-control-prev-icon {
    background-image: url(../images/seta.png);
    background-size: contain;
    transform: rotate(180deg);
}

.carousel-control-next-icon {
    background-image: url(../images/seta.png);
    background-size: contain
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next{
    cursor: default;    
}

.carousel-control-prev,
.carousel-control-next {
    width: 60px;
}

#galeria .video .preview,
#galeria-mapa .video .preview{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#galeria .video .info,
#galeria-mapa .video .info{
    background-color: rgba(35, 39, 43, 0.8);
    border-right: 10px solid rgba(35, 39, 43, 0);
    border-bottom: 10px solid rgba(35, 39, 43, 0);
    padding: 10px;
    color: #fff;
    overflow: hidden;   
}

#galeria #categoria .destaque .video .info .titulo,
#galeria-mapa .destaque .video .info .titulo{
    margin: 10px 0;
}


#galeria #categoria .carousel-item .row > .video,
#galeria-mapa .video{
    padding: 5px 0;
}

#galeria #categoria .carousel-item .row > .video > .row,
#galeria-mapa > .video > .row{
    margin: 0;
}

#galeria #categoria .video .preview,
#galeria-mapa .video .preview{
    padding:0;
}

li.nav-item {
    line-height: 2rem;
}

.fb_iframe_widget{
    padding:2px
}

#modal-videos form .modal-body > *{
    clear:both;
    display: block;
    margin: 10px;
}

#modal-videos form .modal-body > select,
#modal-videos form .modal-body > input {
    width: 300px;
    padding: 5px;
}

#fb-user-videos {
    height: auto;
    flex: 1;
    overflow-y: scroll;
}

#ver-galeria{
    margin-top: 15px;
    border-color: #942023;
    background:#942023;
}

#ver-galeria > *{
    margin: 0 5px;
}

#limpar-pesquisa{
    color: #fff;
    border-radius: 0;
    background: #702021;
    border-color: #702021;
    margin-top: 15px;
    margin-right: -15px;
}

#inputs-user-videos {
    justify-content: flex-end;
}

#inputs-user-videos input {
    color: #fff;
    background: transparent;
    border-radius: 10;
    border-color: #fff;
}

#col-limpar-pesquisa{
    text-align: right;
}

#galeria-navbar{
    justify-content: baseline;
    align-items: stretch;
    background: #932121;
    padding-bottom: 0;
    padding-top: 0; 
}

#galeria-navbar *{
    color: #fff;
}

#galeria-navbar .navbar-nav{
    margin: 15px 0 15px 15px;
}

#voltar-galeria {
    width: 100px;
    background: #611313;
    font-size: 40px;
    text-align: center;
    left: -17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#voltar-galeria:hover{
    text-decoration: none;
}

#cidade{
    display: flex;
    align-items: center;
    font-size: 12pt;
    font-weight: bold;
}

#cidade p{
    margin: 0;
    width: 100%;
    text-align: center;
}

#galeria #categorias-wrapper{
    flex: 4;
}

#galeria-navbar li.nav-item a{
    padding: 5px 10px;
    cursor: pointer;
}

#galeria-navbar li.nav-item.selected {
    background: #fff;
    border-radius: 5px;
}

#galeria-navbar li.nav-item.selected a{
    color: #932121;
}

#galeria #busca-galeria{
    flex: 4;
    align-items: center;
    justify-content: center;
    display: flex;
}

#galeria-navbar select,
#galeria-navbar input{
    color: #fff;
    background: #702021;
    border-radius: 0;
    border-color: #702021;
}

#galeria-navbar .input-group-text{
    border-color: #702021;
    background: #702021;
    padding: 0px 10px;
    font-size: 10pt;
    line-height: 22pt;
    height: 100%;
}

#galeria-navbar .input-group-text:before{
    line-height: 24px;
}
#visualizar-video .modal-dialog{
    max-width: 800px;
}

#visualizar-video .modal-content {
    background: #272727;
    border-radius: 0;
    display: inline-table;
    width: 800px;   
}

#visualizar-video *{
    color: #fff;
}

#visualizar-video .views{
    text-align: right;
    margin-bottom: 20px;
}
#visualizar-video .modal-body{
    position: relative;
}
#visualizar-video #trigger-play-video{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
}
#visualizar-video .modal-header {
    border: 0;
    padding: 15px 15px 0 45px;
}

#visualizar-video button.close {
    padding: 10px 15px 0 0;
}

#visualizar-video .modal-body {
    padding: 5px 45px;
}   

.modal-lg {
    max-width: 1800px;
}

.modal-dialog2 {
    position: relative;
    width: auto;
    margin: -15px;
    margin-top: 4px;
    -webkit-margin-end: -10px;
}