#mapa-header {
    background: #0e0f11;
    color: #fff;
}

#mapa-header .col-4:nth-child(2){
    text-align: center;
}

#mapa-header a{
    color: #fff;
}

#mapa-header #logo img{
    height: 2em;
}

path {
	fill: #ccc;
	stroke: #354a5b;
	stroke-width: 15em;
}

#mapa-wrapper path:hover, path.selected {
    fill: #932121;
    opacity: 0.9;
    stroke: black;
    stroke-width: 25em;
}

#nome-mapa {
	float: left;
	color: #fff;
}

#mapa-wrapper{
    overflow: hidden;
}

#mapa-nav{
    justify-content: flex-end;
}

#mapa-nav #select-cidade{
    color: #fff;
    background: #2e3c49;
    border-radius: 0;
    border-color: #2e3c49;
}

#zoom{
    top: 1.5em;
    position: relative;
    z-index: 99;
}
#zoom > div{
    background-color: #73818e;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
}

#zoom-in, #zoom-out{  
    padding: .5em .6em;
    background-color: #73818e;
    border-radius: 100%;    
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}    

#zoom-in{
    margin-top: -.9em;
}

#zoom-out{
    margin-bottom: -.9em;
}

#mapa{
    transition: transform .5s;
}

#galery{
    width: 30%;
    height: 100%;
    background: #26292b;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 1s;
}

#galery.show{
    left:0;
}

#galery > div{
    height: 100%;
    padding: 20px;
}

#galery #nome-municipio{
    color: #fff;
    margin-bottom: 2rem;
}

#galery #close-cidade{
    color: #fff;
    text-align: right;
}

#galery p.section{
    color: #1fd2e5;
    border-bottom: 1px solid #1fd2e5;
    font-size: .8em;
    padding-bottom: .5em;
}

#galery #videos{
    padding: 0 10px 0 0;
    flex: 1;
    overflow-y:scroll;
}

li.nav-item {
    line-height: 2rem;
}

.fb_iframe_widget{
    padding:2px
}

.fb-login img {
    margin-left: 10px;
    border-radius: 100%;
}
#modal-videos form .modal-body > *{
    clear:both;
    display: block;
    margin: 10px;
}

#modal-videos form .modal-body > select,
#modal-videos form .modal-body > input {
    width: 300px;
    padding: 5px;
}

#fb-user-videos {
    height: auto;
    flex: 1;
    overflow-y: scroll;
}

#fb-user-videos .wrapper{
    float:left;
    margin: 10px 0;
}

#fb-user-videos .wrapper input{
    position: relative;
    top: 68px;
    float: left;
    margin: 0 10px;
}

#fb-user-videos .wrapper iframe{
    float:left;
}

#ver-galeria{
    margin-top: 15px;
    border-color: #942023;
    background:#942023;
}

#ver-galeria > *{
    margin: 0 5px;
}
#voltar-galeria {
    width: 100px;
    height: 140px;
    background: #611313;
    font-size: 40px;
    line-height: 150px;
    color: #fff;
    text-align: center;
    left: -17px;
    position: relative;
    display: block;
}

#miniatura{
    transform: scale(.5);
    text-align: center;
}

#miniatura p{
    font-size: 24pt;
}

#galeria-navbar{
    justify-content: baseline;
    background: #932121;
    height: 140px;
}

#galeria-navbar *{
    color: #fff;
}

#galeria-navbar .navbar-nav{
    margin: 15px 0 15px 15px;
}

#galeria-navbar li.nav-item a{
    padding: 5px 10px;
}

#galeria-navbar li.nav-item.selected {
    background: #fff;
    border-radius: 5px;
}

#galeria-navbar li.nav-item.selected a{
    color: #932121;
}

#galeria-navbar select,
#galeria-navbar input{
    color: #fff;
    background: #702021;
    border-radius: 0;
    border-color: #702021;
}

#galeria-navbar .input-group-text{
    border-color:  #702021;
    background: #702021;
}

#galeria-navbar .input-group-text:before{
    line-height: 24px;
}

