html{
    height: 100%;
}

body {
  padding:0;
  margin: 0;
  height: 100%;
  font: 14px  'Roboto', sans-serif !important;
  background-color: #354A5B
}

section {
    padding: 25px;
    background-color: #354a5b;
}

a {
  color: #00B7FF;
}

nav#header.navbar{
    border-radius: 0;
    background-color: #162128;
}

.navbar > .container{
    color: #fff;
}

.navbar > .container .navbar-header{
    width: 100%
}

.navbar .container .navbar-header .navbar-brand{
    font-size: 20pt;
    font-weight: bold;
    color: #fff;
    height: 37px;
    line-height: 37px;
}

#local button:not(:last-child){
    margin: 0 5px 0 0;
}

#local button .fas{
    margin: 0 10px 0 5px
}

#user, #local{
    margin-top: 20px;
}

#user .row{
    justify-content: flex-end;
}

#user .row #fb-photo{
    flex-grow: 0;
    margin: -10px 0 10px 0;
}

p+span, a+span{
    margin: 0 5px;
}

#bem-vindo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 0;
}

#bem-vindo * {
    color: #fff;
    text-align: center;
}

#bem-vindo > i{
    font-size: 40pt;
    margin: 0 0 20px 0;
}

#bem-vindo p:nth-child(3){
    font-size: 20pt
}

#bem-vindo p:nth-child(5){
    font-size: 16pt
}

#list .form-control{
    margin-left: 10px;
}

.list-videos .col-3{
    height: auto;
    margin: 10px 0 0 0;
}

#list-menu{
    border: none;
}

#fb-user-videos > .col-6 > .video{
    height: 110px !important;
    margin-bottom: 15px;
}

.video{
    height: auto;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#send-list .video div{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

.video i{
    position:absolute;
    color: #fff;
    z-index: 2;
}

.video .fa-link{
    top: 15px;
    left: 15px;
}
.video .fa-trash{
    top: 15px;
    right: 15px;
}
.video .fa-play{
    top:50%;
    left:50%;
    margin-top: -7px;
    margin-left: -7px;
}
.video .fa-pen{
    bottom: 15px;
    right: 15px;
}

#send h4, #send p, #list h4{
    color: #fff;
    text-align: center;
    margin: 5px 0;
}

footer{
    padding: 1rem 0;
}

footer p{ margin-bottom: 0;}

#auth .title, #auth .subtitle {
    text-align: center;
    margin: 20px 0;
}

#auth .title { font-size: 18pt; }
#auth .subtitle { font-size: 14pt; }

#auth #login .title,
#auth #login .subtitle {
    color: #fff;
}

#auth #register {
    background:  #fff;
}

#auth.container {
    max-width: unset;
    height: 100%;
}

#auth.container .row {
    height: 100%;
}

#auth .form-control{
    margin-bottom: 15px;
}

#auth input.form-control{
    max-width: 70%;
    margin-left: 15%;
}

#auth button.form-control{
    max-width: 50%;
    margin-left: 25%;
}

#auth #login input.form-control{
    border-color: #ffffff;
    background: transparent;
    color: #fff;
}

#auth #login a{
    color: #fff;
}

#auth #login button,
#auth #register > *{
    color: #354A5B;
}

#auth #register input.form-control{
    border-color: #354A5B;
    background: transparent;
    color: #354A5B;
}

#auth #register button{
    background-color: #354A5B;
    color: #fff;
}

.container-height{
    min-height: 70%;
}    
#yt input,
#yt .input-group-append{
    z-index: 2;
}

#yt {
    margin-bottom: 0;
}

#yt-preview{
    max-height: auto;
    overflow: hidden;
    padding: 0 10px;
    transition: 1s;
    background: #fff;
    top: calc(-1.8125rem);
    border-radius: .2rem;
    border: 1px solid #ced4da;
    z-index: 1;
}

#yt-preview.show{
    padding: 10px;
    padding-top: calc(1.8125rem + 10px);
    max-height: auto;
}


#yt-thumb {
    width: 100%;
}

#yt-preview button{
    width: auto;
    float: right;
    margin: 5px;
}

#dashboard{
    height: 100%;
}

#send-list{
    padding: 20px 15px 0 15px;
    flex: 1;
    height: 0;
}

#send-list > .row{
    height: 100%;
}

.container-height{
    min-height: 70%;
}    

#send, #list{
    margin-bottom: 75px;
}