html{
    height: 100%;
}

body {
  padding:0;
  margin: 0;
  height: 100%;
  font: 14px  'Roboto', sans-serif !important;
  background-color: #354A5B
}

a {
  color: #00B7FF;
}

nav.navbar{
    border-radius: 0;
    background-color: #162128;
}

.navbar .container{
    padding: 20px 15px;
}

.navbar .container .navbar-header{
    width: 100%
}

.navbar .container .navbar-header .navbar-brand{
    font-size: 20pt;
    font-weight: bold;
    color: #fff;
    height: 37px;
    line-height: 37px;
}

.navbar .container img{
    float: right;
}

#left {
    border-right: 1px solid #fff
}

